h1 {
    text-align: center;
    color: #FF1493;
    font-family: Fantasy, Papyrus;
}


.halong {
    width: 100%;
    height: 500px;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  background-color: lightblue;
}

/* Top Menu Navigation */
.menunav {
    background-color: #F0F8FF;
    overflow: visible;
}
.menunav a {
    float: right;
    color: #008B8B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.menunav a:hover {
    background-color: #ddd;
    color: black;
  }
.menunav a.active {
    color: #008B8B;
  }
